*.log
searchreplacedb2.php
/srdb
node_modules
/assets
.htaccess
sitemap.xml
sitemap.xml.gz
wpmigrate.config
wp-config.php
wp-content/advanced-cache.php
wp-content/backup*
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/updraft/
wp-content/wp-cache-config.php
wp-content/plugins/easy-wp-smtp/
wp-content/plugins/wp-mail-smtp/